<phpunit
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/4.8/phpunit.xsd"
    bootstrap="vendor/autoload.php"
    testSuiteLoaderFile="vendor/autoload.php"
    cacheTokens="false"
    convertErrorsToExceptions="true"
    convertNoticesToExceptions="true"
    convertWarningsToExceptions="true"
    mapTestClassNameToCoveredClassName="false"
    verbose="true"
    >
    <testsuites>
        <testsuite name="Project Test Suite">
            <directory>tests</directory>
            <exclude>vendor</exclude>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist>
            <directory suffix=".php">src</directory>
        </whitelist>
        <blacklist>
            <directory suffix=".php">vendor</directory>
        </blacklist>
    </filter>
</phpunit>
