includes:
	- phpstan-baseline.neon

parameters:
	checkUninitializedProperties: false
	checkMissingIterableValueType: false
	checkInternalClassCaseSensitivity: false
	checkFunctionNameCase: true
	checkExplicitMixedMissingReturn: true
	checkAlwaysTrueStrictComparison: false
	treatPhpDocTypesAsCertain: false
	reportUnmatchedIgnoredErrors: false
	checkGenericClassInNonGenericObjectType: false
	level: 6
	# phpVersion: 70400 # PHP 7.4
	phpVersion: 80100 # PHP 8.1
	tmpDir: /dev/shm/phpstan

	parallel:
		# Don't be overly greedy on machines with more CPU's to be a good neighbor especially on CI
		maximumNumberOfProcesses: 5

	scanDirectories:
		- %currentWorkingDirectory%/bin/
		- %currentWorkingDirectory%/src/
		- %currentWorkingDirectory%/tests/

	paths:
		- %currentWorkingDirectory%/bin/
		- %currentWorkingDirectory%/src/
		- %currentWorkingDirectory%/tests/

	ignoreErrors:
		- '#Call to an undefined method Sabberworm.*#'
		- '#Property.*is never,*#'
		- '#Method.*unused.,*#'
		- '#Cannot call method (setSpaceAfterRuleName|setSpaceBetweenBlocks).*#'
#		- '#.*#'
